In [1]:
import collections
import json
import os

from absl import app
from absl import flags

import numpy as np
import pandas as pd
import tensorflow as tf
import tqdm

2024-07-15 09:12:27.317609: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-07-15 09:12:27.703354: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-07-15 09:12:27.705378: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-07-15 09:12:29.003239: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [4]:
input_path = "/home/pbr-student/personal/thesis/jrdb/train_dataset_with_activity" #/labels/labels_2d_pose_stitched_coco/"
scene = "clark-center-2019-02-28_0"

In [5]:
# from human scene transformer, data subfolder
def get_file_handle(path, mode='rt'):
  file_handle = open(path, mode)
  return file_handle
scene_data_file = get_file_handle(
      os.path.join(input_path, 'labels', 'labels_3d', scene + '.json')
  )

# get agents_dict_from_detections
scene_data = json.load(scene_data_file)
agents = collections.defaultdict(list)
for frame in scene_data['labels']:
    ts = int(frame.split('.')[0])
    for det in scene_data['labels'][frame]:
      agents[det['label_id']].append((ts, det))
agents_dict = agents

In [25]:
# get_agents_features_with_box
max_distance_to_robot = 10
agents_pos_dict = collections.defaultdict(dict)
for agent_id, agent_data in agents_dict.items():
    for (ts, agent_instance) in agent_data:
        if agent_instance['attributes']['distance'] <= max_distance_to_robot:
            agents_pos_dict[(ts, agent_id)] = {
                'timestamp:': ts,
                'agent_id': agent_id,
                'p': np.array([agent_instance['box']['cx'],
                                agent_instance['box']['cy'],
                                agent_instance['box']['cz']]),
                # rotation angle is relative to negatiev x axis of robot
                'yaw': np.pi - agent_instance['box']['rot_z'],
                'l': agent_instance['box']['l'],
                'w': agent_instance['box']['w'],
                'h': agent_instance['box']['h']
            }
agents_features = agents_pos_dict

In [26]:
agents_df = pd.DataFrame.from_dict(
        agents_features, orient='index'
    ).rename_axis(['timestep', 'id'])

In [154]:
## get agents 2d
# from human scene transformer, data subfolder
def get_file_handle(path, mode='rt'):
  file_handle = open(path, mode)
  return file_handle
scene_data_file = get_file_handle(
      os.path.join(input_path, 'labels', 'labels_2d_pose_coco', scene + '_image2.json')
  )

# get agents_dict_from_detections
scene_data = json.load(scene_data_file)
agents = collections.defaultdict(list)
for frame in scene_data['labels']:
    ts = int(frame.split('.')[0])
    for det in scene_data['labels'][frame]:
      agents[det['label_id']].append((ts, det))
agents_dict = agents
# get_agents_features_with_box
max_distance_to_robot = 10
agents_pos_dict = collections.defaultdict(dict)
for agent_id, agent_data in agents_dict.items():
    for (ts, agent_instance) in agent_data:
        if agent_instance['attributes']['distance'] <= max_distance_to_robot:
            agents_pos_dict[(ts, agent_id)] = {
                'p': np.array([agent_instance['box']['cx'],
                                agent_instance['box']['cy'],
                                agent_instance['box']['cz']]),
                # rotation angle is relative to negatiev x axis of robot
                'yaw': np.pi - agent_instance['box']['rot_z'],
                'l': agent_instance['box']['l'],
                'w': agent_instance['box']['w'],
                'h': agent_instance['box']['h']
            }
agents_features = agents_pos_dict

KeyError: 'labels'

In [170]:
# get agents keypoints
keypoint_path = os.path.join(input_path, 'labels', 'labels_2d_pose_coco')
scene_data_file = get_file_handle(os.path.join(keypoint_path, scene + '_image0.json'))
scene_data = json.load(scene_data_file)

agents_keypoints = collections.defaultdict(dict)
image_keypoints = collections.defaultdict(dict)

for frame in scene_data['annotations']:
    agents_keypoints[frame['id']] = {
        'keypoints': np.array(frame['keypoints']).reshape(17, 3),
        'track_id': frame['track_id'],
        'timestep': frame['image_id']}
for frame in scene_data['images']:
    image_keypoints[frame['id']] = {
        'timestep': frame['id'],
        'file_name': frame['file_name']
    }

In [171]:
keypoints_df = pd.DataFrame.from_dict(
        agents_keypoints, orient='index'
    )
keypoints_df

                                              keypoints  track_id  timestep
5790  [[595.15, 127.65, 2.0], [594.85, 136.8, 2.0], ...         2         2
5791  [[634.53, 121.84, 2.0], [633.75, 130.3, 2.0], ...         2         4
5792  [[49.25, 155.1, 2.0], [49.74, 163.23, 2.0], [5...         7         4
5793  [[670.53, 119.44, 2.0], [670.3, 127.95, 2.0], ...         2         6
5794  [[79.05, 156.55, 2.0], [79.1, 164.25, 2.0], [8...         7         6
...                                                 ...       ...       ...
5696  [[192.8, 134.3, 2.0], [194.18, 141.62, 0.0], [...        23       531
5719  [[195.1, 135.0, 2.0], [195.74, 142.48, 0.0], [...        23       533
5742  [[198.0, 134.6, 2.0], [198.6, 141.5, 0.0], [19...        23       535
5765  [[201.0, 135.1, 2.0], [201.9, 142.5, 0.0], [19...        23       537
5788  [[202.66, 135.1, 2.0], [203.56, 142.5, 0.0], [...        23       539

[787 rows x 3 columns]

In [172]:
image_df = pd.DataFrame.from_dict(
        image_keypoints, orient='index'
    )
image_df

     timestep                                     file_name
1           1  image_0/clark-center-2019-02-28_0/000000.jpg
2           2  image_0/clark-center-2019-02-28_0/000001.jpg
3           3  image_0/clark-center-2019-02-28_0/000002.jpg
4           4  image_0/clark-center-2019-02-28_0/000003.jpg
5           5  image_0/clark-center-2019-02-28_0/000004.jpg
..        ...                                           ...
573       573  image_0/clark-center-2019-02-28_0/000572.jpg
574       574  image_0/clark-center-2019-02-28_0/000573.jpg
575       575  image_0/clark-center-2019-02-28_0/000574.jpg
576       576  image_0/clark-center-2019-02-28_0/000575.jpg
577       577  image_0/clark-center-2019-02-28_0/000576.jpg

[577 rows x 2 columns]

In [173]:
result = pd.merge(keypoints_df, image_df, on="timestep")
result

,keypoints,track_id,timestep,file_name
0,"[[595.15, 127.65, 2.0], [594.85, 136.8, 2.0], ...",2,2,image_0/clark-center-2019-02-28_0/000001.jpg
1,"[[634.53, 121.84, 2.0], [633.75, 130.3, 2.0], ...",2,4,image_0/clark-center-2019-02-28_0/000003.jpg
2,"[[49.25, 155.1, 2.0], [49.74, 163.23, 2.0], [5...",7,4,image_0/clark-center-2019-02-28_0/000003.jpg
3,"[[670.53, 119.44, 2.0], [670.3, 127.95, 2.0], ...",2,6,image_0/clark-center-2019-02-28_0/000005.jpg
4,"[[79.05, 156.55, 2.0], [79.1, 164.25, 2.0], [8...",7,6,image_0/clark-center-2019-02-28_0/000005.jpg
...,...,...,...,...
782,"[[192.8, 134.3, 2.0], [194.18, 141.62, 0.0], [...",23,531,image_0/clark-center-2019-02-28_0/000530.jpg
783,"[[195.1, 135.0, 2.0], [195.74, 142.48, 0.0], [...",23,533,image_0/clark-center-2019-02-28_0/000532.jpg
784,"[[198.0, 134.6, 2.0], [198.6, 141.5, 0.0], [19...",23,535,image_0/clark-center-2019-02-28_0/000534.jpg
785,"[[201.0, 135.1, 2.0], [201.9, 142.5, 0.0], [19...",23,537,image_0/clark-center-2019-02-28_0/000536.jpg
786,"[[202.66, 135.1, 2.0], [203.56, 142.5, 0.0], [...",23,539,image_0/clark-center-2019-02-28_0/000538.jpg

In [159]:
grouped_df1 = result.groupby(result['track_id'], as_index=False)['timestep'].apply(list)
grouped_df2 = result.groupby(result['track_id'], as_index=False)['file_name'].apply(list)
grouped_df3 = result.groupby(result['track_id'], as_index=False)['keypoints'].apply(list)
result12 = pd.merge(grouped_df1, grouped_df2, on="track_id")
grouped_result = pd.merge(result12, grouped_df3, on="track_id")
print(grouped_result)

    track_id                                           timestep  \
0          2  [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, ...
1          7  [56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 7...
2          9                              [2, 4, 6, 1, 3, 5, 7]
3         11  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 2...
4         18  [134, 136, 138, 140, 142, 144, 146, 148, 150, ...
5         19  [44, 46, 48, 50, 52, 80, 82, 84, 86, 88, 90, 9...
6         20  [50, 52, 64, 66, 68, 70, 72, 74, 76, 78, 80, 8...
7         28  [10, 12, 14, 16, 18, 20, 22, 24, 32, 34, 36, 3...
8         30  [88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 1...
9         31  [200, 202, 204, 206, 208, 210, 212, 214, 216, ...
10        32  [224, 226, 228, 230, 232, 234, 223, 225, 227, ...
11        33  [220, 222, 234, 236, 238, 240, 219, 221, 223, ...
12        49  [140, 142, 144, 146, 148, 150, 152, 178, 180, ...
13        63  [94, 104, 106, 108, 110, 112, 114, 116, 118, 1...
14        69  [300, 302, 304, 306, 308, 310, 312, 314, 316, ...
15        71  [422, 424, 426, 428, 430, 432, 434, 436, 438, ...
16        72  [442, 444, 446, 448, 450, 452, 454, 456, 458, ...
17        73  [458, 460, 462, 464, 466, 468, 470, 472, 474, ...
18       116  [476, 478, 480, 482, 484, 486, 488, 490, 492, ...
19       117  [488, 490, 492, 494, 496, 498, 500, 502, 504, ...

                                            file_name  \
0   [image_2/clark-center-2019-02-28_0/000003.jpg,...
1   [image_2/clark-center-2019-02-28_0/000055.jpg,...
2   [image_2/clark-center-2019-02-28_0/000001.jpg,...
3   [image_2/clark-center-2019-02-28_0/000001.jpg,...
4   [image_2/clark-center-2019-02-28_0/000133.jpg,...
5   [image_2/clark-center-2019-02-28_0/000043.jpg,...
6   [image_2/clark-center-2019-02-28_0/000049.jpg,...
7   [image_2/clark-center-2019-02-28_0/000009.jpg,...
8   [image_2/clark-center-2019-02-28_0/000087.jpg,...
9   [image_2/clark-center-2019-02-28_0/000199.jpg,...
10  [image_2/clark-center-2019-02-28_0/000223.jpg,...
11  [image_2/clark-center-2019-02-28_0/000219.jpg,...
12  [image_2/clark-center-2019-02-28_0/000139.jpg,...
13  [image_2/clark-center-2019-02-28_0/000093.jpg,...
14  [image_2/clark-center-2019-02-28_0/000299.jpg,...
15  [image_2/clark-center-2019-02-28_0/000421.jpg,...
16  [image_2/clark-center-2019-02-28_0/000441.jpg,...
17  [image_2/clark-center-2019-02-28_0/000457.jpg,...
18  [image_2/clark-center-2019-02-28_0/000475.jpg,...
19  [image_2/clark-center-2019-02-28_0/000487.jpg,...

                                            keypoints
0   [[[45.57, 119.6, 2.0], [43.55, 129.8, 2.0], [4...
1   [[[72.9, 71.65, 2.0], [75.0, 90.65, 1.0], [68....
2   [[[202.7, 166.35, 2.0], [204.86, 171.62, 0.0],...
3   [[[458.27, 153.01, 2.0], [458.07, 161.32, 0.0]...
4   [[[29.01, 113.14, 2.0], [27.3, 127.34, 2.0], [...
5   [[[15.99, 163.4, 2.0], [12.26, 169.31, 2.0], [...
6   [[[23.45, 155.25, 2.0], [21.05, 162.65, 2.0], ...
7   [[[527.3, 145.1, 2.0], [525.75, 155.0, 2.0], [...
8   [[[38.9, 133.05, 2.0], [41.15, 143.25, 2.0], [...
9   [[[68.9, 70.0, 2.0], [72.2, 92.05, 2.0], [77.7...
10  [[[96.1, -52.35, 0.0], [86.55, -31.85, 0.0], [...
11  [[[56.65, 58.9, 2.0], [52.33, 77.88, 2.0], [65...
12  [[[101.0, 76.5, 2.0], [98.35, 84.1, 2.0], [103...
13  [[[109.2, 162.55, 2.0], [105.25, 169.65, 2.0],...
14  [[[279.1, 152.0, 2.0], [279.1, 159.45, 2.0], [...
15  [[[21.15, 144.25, 2.0], [17.5, 152.1, 2.0], [2...
16  [[[68.15, 134.65, 2.0], [71.5, 142.5, 2.0], [7...
17  [[[157.8, 148.7, 2.0], [162.3, 157.35, 1.0], [...
18  [[[505.2, 152.5, 2.0], [506.0, 163.3, 1.0], [5...
19  [[[506.88, 162.71, 2.0], [511.0, 171.95, 2.0],...

In [160]:
grouped_result.iloc[0]

track_id                                                     2
timestep     [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, ...
file_name    [image_2/clark-center-2019-02-28_0/000003.jpg,...
keypoints    [[[45.57, 119.6, 2.0], [43.55, 129.8, 2.0], [4...
Name: 0, dtype: object

In [161]:
agents_df

,,timestamp:,agent_id,p,yaw,l,w,h
timestep,id,,,,,,,
0,pedestrian:9,0,pedestrian:9,"[4.74, -5.97, -0.00499]",-0.831997,0.89,0.51,1.85003
1,pedestrian:9,1,pedestrian:9,"[4.55275, -6.13846, -0.00499]",-0.900197,0.89,0.51,1.85003
2,pedestrian:9,2,pedestrian:9,"[4.36551, -6.30692, -0.00499]",-0.968397,0.89,0.51,1.85003
3,pedestrian:9,3,pedestrian:9,"[4.18276, -6.45846, -0.00499]",-1.011557,0.89,0.51,1.85003
4,pedestrian:9,4,pedestrian:9,"[4.0, -6.61, -0.00499]",-1.054707,0.89,0.51,1.85003
...,...,...,...,...,...,...,...,...
573,pedestrian:71,573,pedestrian:71,"[-6.99793, 5.45091, -0.12345]",2.450693,0.93,0.50,1.77310
574,pedestrian:71,574,pedestrian:71,"[-7.06738, 5.50448, -0.12346]",2.451823,0.93,0.50,1.77310
575,pedestrian:71,575,pedestrian:71,"[-7.13684, 5.55804, -0.12345]",2.452953,0.93,0.50,1.77310
576,pedestrian:71,576,pedestrian:71,"[-7.20794, 5.6105, -0.12346]",2.453663,0.93,0.50,1.77310
577,pedestrian:71,577,pedestrian:71,"[-7.27905, 5.66296, -0.12345]",2.454383,0.93,0.50,1.77310

In [162]:
grouped_df2_1 = agents_df.groupby(agents_df['agent_id'], as_index=False)['timestamp:'].apply(list)
grouped_df2_1 = grouped_df2_1.rename(columns={'agent_id': 'agent_id', 'timestamp:': 'timestep'})
grouped_df2_2 = agents_df.groupby(agents_df['agent_id'], as_index=False)['p'].apply(list)
grouped_result2 = pd.merge(grouped_df2_1, grouped_df2_2, on="agent_id")
print(grouped_result2)

          agent_id                                           timestep  \
0   pedestrian:108  [241, 242, 243, 244, 245, 246, 247, 248, 249, ...
1    pedestrian:11  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2   pedestrian:110  [241, 242, 243, 244, 245, 246, 247, 248, 249, ...
3   pedestrian:116  [263, 264, 265, 266, 267, 268, 269, 270, 271, ...
4   pedestrian:117  [263, 264, 265, 266, 267, 268, 269, 270, 271, ...
5    pedestrian:13  [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...
6    pedestrian:15  [283, 284, 285, 286, 287, 288, 289, 290, 291, ...
7   pedestrian:154  [253, 254, 255, 256, 257, 258, 259, 260, 261, ...
8    pedestrian:18  [38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 4...
9    pedestrian:19  [23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 3...
10    pedestrian:2  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
11   pedestrian:20  [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 3...
12   pedestrian:21  [98, 99, 100, 101, 102, 103, 104, 105, 106, 10...
13   pedestrian:23  [94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 1...
14   pedestrian:28  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
15   pedestrian:30  [58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 6...
16   pedestrian:31  [155, 156, 157, 158, 159, 160, 161, 162, 163, ...
17   pedestrian:32  [162, 163, 164, 165, 166, 167, 168, 169, 170, ...
18   pedestrian:33  [164, 165, 166, 167, 168, 169, 170, 171, 172, ...
19    pedestrian:4  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
20   pedestrian:48  [108, 109, 110, 111, 112, 113, 114, 115, 116, ...
21   pedestrian:49  [100, 101, 102, 103, 104, 105, 106, 107, 108, ...
22   pedestrian:63  [62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 7...
23   pedestrian:69  [257, 258, 259, 260, 261, 262, 263, 264, 265, ...
24    pedestrian:7  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
25   pedestrian:71  [356, 357, 358, 359, 360, 361, 362, 363, 364, ...
26   pedestrian:72  [388, 389, 390, 391, 392, 393, 394, 395, 396, ...
27   pedestrian:73  [390, 391, 392, 393, 394, 395, 396, 397, 398, ...
28    pedestrian:9  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...

                                                    p
0   [[9.32505, -3.55353, 0.01], [9.25551, -3.53434...
1   [[0.93, -5.28, -0.01015], [0.72629, -5.2902, -...
2   [[9.76126, -1.97973, -0.07039], [9.69308, -1.9...
3   [[9.05024, -4.33214, 0.10464], [8.79845, -4.73...
4   [[9.37257, -3.5796, 0.02097], [9.16128, -3.984...
5   [[10.0388, 0.02605, 0.11982], [9.96894, -0.001...
6   [[-6.86194, 7.34771, -0.01396], [-6.78948, 7.3...
7   [[9.94362, -1.07767, -0.11596], [9.85894, -1.3...
8   [[9.1272, -4.02759, 0.07215], [9.04473, -4.090...
9   [[9.08623, -4.16614, 0.08889], [9.02343, -4.02...
10  [[4.88, -2.64, 0.07721], [4.6329, -2.75364, 0....
11  [[9.22012, -3.76288, 0.11722], [9.02996, -3.65...
12  [[-7.29402, -6.85811, 0.11025], [-7.18201, -6....
13  [[7.59377, 6.43999, 0.55049], [7.39188, 6.58, ...
14  [[1.18, -6.0, 0.03997], [0.96586, -6.02999, 0....
15  [[9.60838, -2.37222, 0.11765], [9.43419, -2.39...
16  [[9.84785, 1.90813, 0.01541], [9.70788, 1.7368...
17  [[9.96044, 0.99195, 0.0621], [9.83648, 0.86039...
18  [[10.1166, -0.05154, 0.03956], [9.97175, -0.13...
19  [[1.57, 1.75, 0.04418], [1.55016, 1.70947, 0.0...
20  [[9.1748, -4.05321, 2.61049], [9.09139, -4.031...
21  [[8.85467, -4.59677, 2.01687], [8.8259, -4.535...
22  [[8.0262, -6.02719, 0.78289], [7.92756, -6.001...
23  [[9.98976, 0.58144, 0.01208], [9.87099, 0.0830...
24  [[5.7, 4.71, 0.09151], [5.77282, 4.45993, 0.09...
25  [[9.58963, -2.93953, -0.04345], [9.50251, -2.9...
26  [[8.80976, -4.6535, 0.11669], [8.71915, -4.647...
27  [[8.51385, -5.21268, -0.00249], [8.45517, -5.1...
28  [[4.74, -5.97, -0.00499], [4.55275, -6.13846, ...

In [165]:
# merge 2d and 3d information together by tracks of timestamps
track_dict = {}
for idx in range(grouped_result.shape[0]):
    tmp = grouped_result.iloc[idx]['timestep']
    tmp_id = grouped_result.iloc[idx]['track_id']
    print(tmp_id)
    tmp.sort()
    for index, row in grouped_result2.iterrows():
        if int(row['agent_id'][11:]) == int(tmp_id):
            #print(row['timestep'])
            # for the same track get the corresponding indices where the persons are detected at the same time
            indices1 = np.argwhere(np.isin(np.asarray(row['timestep']),np.asarray(tmp)))
            indices2 = np.argwhere(np.isin(np.asarray(tmp), np.asarray(row['timestep'])))
            # filter all relevant features by the indices
            if len(indices1) >= 15:
                positions = np.asarray(row['p'])[indices1.squeeze()]
                keypoints = np.asarray(grouped_result.iloc[idx]['keypoints'])[indices2.squeeze()]
                track_dict[idx] = {
                    'positions': positions,
                    'poses': keypoints
                }
            break

2
7
9
11
18
19
20
28
30
31
32
33
49
63
69
71
72
73
116
117

In [164]:
track_df = pd.DataFrame.from_dict(
        track_dict, orient='index'
    )
track_df

,positions,poses
0,"[[4.13194, -2.95542, 0.07721], [3.87808, -3.04...","[[[45.57, 119.6, 2.0], [43.55, 129.8, 2.0], [4..."
1,"[[2.50859, -1.81368, 0.09151], [2.4551, -1.911...","[[[72.9, 71.65, 2.0], [75.0, 90.65, 1.0], [68...."
3,"[[0.72629, -5.2902, -0.01015], [0.52258, -5.30...","[[[458.27, 153.01, 2.0], [458.07, 161.32, 0.0]..."
4,"[[3.71883, -2.42315, 0.07215], [3.65019, -2.45...","[[[29.01, 113.14, 2.0], [27.3, 127.34, 2.0], [..."
5,"[[6.81584, -4.18835, 0.08889], [6.72486, -4.21...","[[[15.99, 163.4, 2.0], [12.26, 169.31, 2.0], [..."
6,"[[5.80452, -3.58044, 0.11722], [5.68905, -3.60...","[[[23.45, 155.25, 2.0], [21.05, 162.65, 2.0], ..."
7,"[[-0.18275, -6.1492, 0.03997], [-0.24967, -6.1...","[[[527.3, 145.1, 2.0], [525.75, 155.0, 2.0], [..."
8,"[[4.91, -3.03, 0.11765], [4.63117, -3.04057, 0...","[[[38.9, 133.05, 2.0], [41.15, 143.25, 2.0], [..."
9,"[[2.04152, -1.6117, 0.01541], [1.85965, -1.566...","[[[68.9, 70.0, 2.0], [72.2, 92.05, 2.0], [77.7..."
12,"[[5.00892, -4.43708, 1.15285], [4.9008, -4.429...","[[[101.0, 76.5, 2.0], [98.35, 84.1, 2.0], [103..."
13,"[[4.88768, -4.41041, -0.01799], [4.85908, -4.2...","[[[109.2, 162.55, 2.0], [105.25, 169.65, 2.0],..."
14,"[[2.9754, -5.73025, 0.01207], [2.89141, -5.688...","[[[279.1, 152.0, 2.0], [279.1, 159.45, 2.0], [..."
15,"[[4.22892, -2.60836, -0.04345], [4.1441, -2.60...","[[[21.15, 144.25, 2.0], [17.5, 152.1, 2.0], [2..."
16,"[[5.02638, -3.81498, 0.11669], [4.96335, -3.79...","[[[68.15, 134.65, 2.0], [71.5, 142.5, 2.0], [7..."
17,"[[3.77598, -4.2501, -0.00249], [3.71337, -4.22...","[[[157.8, 148.7, 2.0], [162.3, 157.35, 1.0], [..."
18,"[[0.25082, -6.14512, 0.25464], [0.14165, -6.14...","[[[505.2, 152.5, 2.0], [506.0, 163.3, 1.0], [5..."
19,"[[0.02541, -5.73568, 0.02097], [-0.13638, -5.6...","[[[506.88, 162.71, 2.0], [511.0, 171.95, 2.0],..."

# absolute positions to relative distances

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_pickle("df_jrdb_augmented.pkl") 
df

,positions,poses
0,"[[1.6433, 1.31074, 0.05498], [1.61661, 1.27148...","[[[21.4, 9.8, 2.0], [25.55, 31.25, 2.0], [38.1..."
1,"[[0.83958, -0.50863, 0.045], [0.85848, -0.4422...","[[[563.57, -178.91, 0.0], [587.46, -136.51, 0...."
2,"[[1.53163, 1.33974, 0.03798], [1.52811, 1.3346...","[[[11.24, 23.85, 2.0], [-2.52, 46.95, 0.0], [-..."
3,"[[1.84136, 1.52542, -0.005], [1.83469, 1.50237...","[[[60.4, 70.02, 2.0], [54.05, 88.92, 2.0], [58..."
4,"[[1.72412, 1.30398, -0.01211], [1.69748, 1.244...","[[[68.25, 39.05, 2.0], [69.55, 66.05, 2.0], [7..."
...,...,...
4289,"[[5.968267727453773, 5.490492822033447, -0.065...","[[[-354.86317850622595, 63.36005871571147, 1.0..."
4290,"[[-9.463164342874244, 4.724265857019843, 0.025...","[[[72.55889816272631, 74.74382113199131, 2.0],..."
4291,"[[-3.364940896402999, -0.649425695671161, -0.0...","[[[-135.90354242194445, 721.5244311575088, 2.0..."
4292,"[[-0.497088846780676, 2.0076951175310342, -0.1...","[[[558.0353499688866, -232.6153921929978, 1.0]..."
4293,"[[-6.874518290769901, 0.8646704641500271, -0.0...","[[[-6.782455207226686, 143.35711807009082, 2.0..."

In [4]:
df.iloc[0]["positions"].shape

(43, 3)